<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<title>美食走廊</title>
		<meta name="author" content="CLC" />
		<link rel="stylesheet" href="/stylesheets/bootstrap.css">
			<link rel="stylesheet" href="/stylesheets/index.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/gallery/3demo.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/gallery/3component.css" />
		<script src="/javascripts/gallery/modernizr.custom.js"></script>
	</head>
	<body>
		
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- changes for mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collasped" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<!-- <span class="icon-bar"></span> -->
			</button>
			<a href="#" class="navbar-brand"><img id="logo" src="images/clc-logo.png" alt=""></a>
		</div>

		<!-- the navbar itself -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">主页<span class="sr-only">(current)</span></a></li>
				<li><a href="/des">景点</a></li>
				<li><a href="/data">数据</a></li>
				<li><a href="/rec">推荐</a></li>
				<!-- <li><a href="#">about</a></li> -->
			</ul>
		</div>
	</div>
</nav>
	<div class="container1">
			<header>
				<img src="/images/des/foodbg.jpg"/>
				<h1>美食走廊<span> 本地餐厅 美食街  美食</span></h1>
			</header>
			<div class="main">

				<div class="column-wrap clearfix"  style="width:100%; background: #4498db">
					<div class="column" style="color:#0055a8">
						<p><strong>本地餐厅</strong></p>
						<span>杭州本地特色餐厅，不容错过哦！</span>
					</div>
					<div class="column">
						<a class="caption caption-1" href="#" data-title="丁哥墨鱼馆" data-description="丁哥黑鱼馆是一家以餐饮管理、餐饮特许品牌加盟推广及后期管理维护，涵盖特许经营整个运作流程的综合型企业。丁哥黑鱼馆集特色与时尚为一体，已有较高美誉度。其特色菜品“酸菜黑鱼”和“丁哥筒骨鱼”也斩获了众多殊荣，并得到专业餐饮网的好评。"><img src="/images/des/4/1/1.jpg" alt="丁哥墨鱼馆"></a>
						<a class="caption caption-1" href="#" data-title="皇饭儿" data-description="皇饭儿厨工坊，是比较有品质的一家店，位于鼓楼，无论是大环境还是酒楼内部的环境，都比较现代时尚，就靠传统的土木式样和古色古香的装修，也能营造出一种精致的感觉，青纱、垂帘和恰到好处的灯光，组合在一起真的很不错。"><img src="/images/des/4/1/2.jpg" alt="皇饭儿"></a>
						<a class="caption caption-1" href="#" data-title="楼外楼" data-description="杭州楼外楼菜馆是一家名闻中外、有160年历史的名餐馆。它坐落在美丽西湖的孤山脚下，与西湖风景中的一些很有名的自然和人文景点： 平湖秋月、放鹤亭、玛瑙坡、西泠桥、苏小小墓、六一泉、四照阁、西泠印社、俞楼、秋瑾墓、中山公园、文澜阁、浙江博物馆等为邻。"><img src="/images/des/4/1/3.jpg" alt="楼外楼"></a>
						<a class="caption caption-1" href="#" data-title="山外山菜馆" data-description="中华老字号——山外山菜馆坐落在美丽的西子湖畔杭州植物园内，背靠青龙山，面对山水园，左依玉泉池。绿荫环 绕，鸟语花香，是蜚声海内外的西湖名菜馆。"><img src="/images/des/4/1/4.jpg" alt="山外山菜馆"></a>
						<a class="caption caption-1" href="#" data-title="外婆家" data-description="外婆家是一个起源于杭州的餐饮知名品牌，在杭州，“外婆家”可谓家喻户晓，近些年分店开遍全国。主营经典杭帮菜，口味地道。"><img src="/images/des/4/1/5.jpg" alt="外婆家"></a>
						<a class="caption caption-1" href="#" data-title="新白鹿餐厅" data-description="新白鹿以经营杭帮菜为主，主要招牌菜肴有蛋黄鸡翅、鱼羊鲜、一品开背虾、蒜蓉粉丝扇贝等。"><img src="/images/des/4/1/6.jpg" alt="新白鹿餐厅"></a>
						<a class="caption caption-1" href="#" data-title="张生记" data-description="张生记是荣获“杭州市餐饮业名店”和“中华餐饮名店”等招牌的一家新型超大型纯餐饮酒店，创办于1988年。创办人依据“医药同源”原理，科学烹调适应时令特点的春夏秋冬四时特色菜谱；特别是按照祖传秘方，反复研究精制的“笋干老鸭煲”，油而不腻，酥而不烂，鲜美可口，色香味形均佳，赢得业内人士和广大顾客的一致好评。"><img src="/images/des/4/1/7.jpg" alt="张生记"></a>
					</div>
				</div>

				<div class="column-wrap clearfix"  style="width:100%; background: #e74c3c">
					<div class="column" style="color: #b41909">
						<p><strong>美食街 美食圈</strong></p>
						<span>细数杭州美食街 走走吃吃玩遍杭州</span>
					</div>
					<div class="column">
						<a class="caption caption-2" href="" data-title="高银街" data-description="毗邻河坊街，建筑古典、食肆林立，兼备了阳春白雪和下里巴人”两种风格。有草根的特色小店，也有上得了台面的经典老店。在这条美食街上,散布着川鲁闽粤浙以及素菜、海鲜、快餐等各种菜系和风味餐馆。"><img src="/images/des/4/2/1.jpg" alt="高银街"></a>
						<a class="caption caption-2" href="" data-title="杭州胜利河美食街" data-description="亦称古水街，位于杭州市拱墅区，依河而建，美食街由著名国画大师潘天寿的嫡亲外孙朱仁民先生设计，云集品牌餐饮店和路吧夜宵摊。"><img src="/images/des/4/2/2.jpg" alt="杭州胜利河美食街"></a>
						<br/>
						<a class="caption caption-2" href="" data-title="南山路" data-description="南山路一带很多小资餐厅的:从北往南说几家，彩碟轩/新天地里N家/德纳2楼/两岸铁板烧/古典玫瑰园/西湖春天/伯昂/木之兰/贝尼尼/天度/玲珑小镇/太古/菲乐/锦香来/欧麦"><img src="/images/des/4/2/3.jpg" alt="高银街"></a>
						<a class="caption caption-2" href="" data-title="延安路" data-description="下城区延安路沿路有很多典型的餐馆，如绿茶，知味观，鸽仔皇茶餐厅等。"><img src="/images/des/4/2/4.jpg" alt="高银街"></a>
					</div>
				</div>

				<div class="column-wrap clearfix" style="width:100%; background: #52be7f">
					<div class="column" style="color:#087a3b">
						<p><strong>美食</strong></p>
						<span>杭帮菜源远流长 中国八大菜系之一</span>
					</div>
					<div class="column">
						<a class="caption caption-3" href="" data-title="葱包烩" data-description="浙江杭州市民间的一种著名的汉族传统小吃，早点食品。制作方法就是将油条和小葱裹在面饼内，在铁锅上压烤或油炸至春饼脆黄，配上甜面酱和辣酱。"><img src="/images/des/4/3/1.jpg" alt="葱包烩"></a>
						<a class="caption caption-3" href="" data-title="东坡肉" data-description="东坡肉是江南地区汉族传统名菜，属浙菜系，以猪肉为主要食材。菜品薄皮嫩肉，色泽红亮，味醇汁浓，酥烂而形不碎，香糯而不腻口。东坡肉，色、香、味俱全，深受人们喜爱。"><img src="/images/des/4/3/2.jpg" alt="东坡肉"></a>
						<a class="caption caption-3" href="" data-title="干炸响铃" data-description="浙江省杭州地区汉族传统名菜之一。用杭州地区著名特产泗乡豆腐皮制成的干炸响铃，以色泽黄亮、鲜香味美，脆如响铃而被推为杭州特色风味名菜之列，受到食者的欢迎。"><img src="/images/des/4/3/3.jpg" alt="干炸响铃"></a>
						<a class="caption caption-3" href="" data-title="杭州酱鸭" data-description="杭州酱鸭是浙江杭州著名的汉族风味美食，属浙江菜系。选用当年饲养成熟的鸭子为原料，经先腌后酱精心制作而成，其肉色枣红，酱香油润，富有回味。"><img src="/images/des/4/3/4.jpg" alt="杭州酱鸭"></a>
						<a class="caption caption-3" href="" data-title="叫化童子鸡" data-description="叫化童子鸡是一道色香味俱全的汉族传统名菜，属于浙菜系杭州菜。此菜鸡身白净，肉酥离骨，食不嵌齿。"><img src="/images/des/4/3/5.jpg" alt="叫化童子鸡"></a>
						<a class="caption caption-3" href="" data-title="龙井虾仁" data-description="龙井虾仁，是配以龙井茶的嫩芽烹制而成的虾仁，是富有江苏苏州地方特色的汉族名菜。虾仁玉白，鲜嫩；芽叶碧绿，清香，色泽雅丽，滋味独特，食后清口开胃，回味无穷，在淮扬菜中堪称一绝。"><img src="/images/des/4/3/6.jpg" alt="龙井虾仁"></a>
						<a class="caption caption-3" href="" data-title="片儿川" data-description="杭州奎元馆名点，杭州汉族风味小吃。面的浇头由倒笃菜、笋片、瘦肉丝组成。已有百余年历史，其特色在于倒笃菜和笋片的鲜美，吃后回味无穷。片儿川的价格适中，是杭州市民喜爱的日常小吃。"><img src="/images/des/4/3/7.jpg" alt="片儿川"></a>
						<a class="caption caption-3" href="" data-title="试试宋嫂鱼羹" data-description="杭州地区汉族传统名菜，至今已有800多年历史，用鳜鱼或鲈鱼蒸熟取肉拨碎，添加配料烩制的羹菜，特点是色泽黄亮，鲜嫩滑润，味似蟹羹。"><img src="/images/des/4/3/8.jpg" alt="试试宋嫂鱼羹"></a>
						<a class="caption caption-3" href="" data-title="西湖莼菜汤" data-description="汤又称鸡火莼菜汤，杭州汉族传统风味名菜。选用西湖莼菜作原料，味道鲜美，别具特色。西湖莼菜汤，莼菜翠绿，鸡白腿红，色彩鲜艳，滑嫩清香，汤纯味美，是浙江杭州地区汉族传统名菜。"><img src="/images/des/4/3/9.jpg" alt="西湖莼菜汤"></a>
						<a class="caption caption-3" href="" data-title="西湖醋鱼" data-description="西湖醋鱼又叫“叔嫂传珍”，是浙江杭州传统汉族风味名菜。其年代可追溯到宋朝，可谓是历史悠久。此菜选用西湖草鱼作原料，烹制前先要在鱼笼中饿养一两天，使其排泄肠内杂物，除去泥土味。"><img src="/images/des/4/3/10.jpg" alt="西湖醋鱼"></a>
						<a class="caption caption-3" href="" data-title="鱼头豆腐" data-description="浙江杭州著名的汉族菜肴之一。“肚饥饭碗小，鱼美酒肠宽；问客何处好，嫩豆腐烧鱼。”“嫩豆腐烧鱼”指的就是鱼头豆腐。那么鱼头豆腐也成为王润兴的看家名菜。"><img src="/images/des/4/3/11.jpg" alt="鱼头豆腐"></a>
						<a class="caption caption-3" href="" data-title="知味小笼" data-description="浙江杭州地区知味观的汉族名吃。选用发酵精白面粉作皮，用鲜肉、鲜肉拌虾仁、或鸡肉拌火腿末作馅，馅料加入特肉皮冻，包好放入特制小蒸笼用急火蒸。这些包子汁多香鲜，皮薄滑韧。"><img src="/images/des/4/3/12.jpg" alt="知味小笼"></a>
					</div>
				</div>

			</div>
		</div><!-- /container -->

		<!--Footer-->
		<!-- <footer  id="footer" style="width:100%; height:100px; position:relative">
			<div class="">
				<a href="team.html"> <h2>联系我们</h2> </a>
	            <span class="byline">E-mail: yingshu2008@gmail.com</span>
				<hr/>
			</div>	
		</footer> -->
	</body>
</html>